-- Sistema de Contas Recorrentes - Zaq - Boas Contas
-- Criar tabelas para gerenciamento de transações recorrentes

-- Tabela de transações recorrentes
CREATE TABLE public.recurring_transactions (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
  group_id UUID REFERENCES public.family_groups(id) ON DELETE CASCADE,
  title TEXT NOT NULL,
  description TEXT,
  amount NUMERIC NOT NULL,
  category_id UUID REFERENCES public.categories(id) ON DELETE SET NULL,
  account_id UUID REFERENCES public.accounts(id) ON DELETE SET NULL,
  type TEXT NOT NULL CHECK (type IN ('receita', 'despesa')),
  frequency TEXT NOT NULL CHECK (frequency IN ('diaria', 'semanal', 'mensal', 'trimestral', 'semestral', 'anual')),
  day_of_month INTEGER CHECK (day_of_month >= 1 AND day_of_month <= 31),
  day_of_week INTEGER CHECK (day_of_week >= 0 AND day_of_week <= 6), -- 0 = domingo, 6 = sábado
  start_date DATE NOT NULL,
  end_date DATE,
  is_active BOOLEAN NOT NULL DEFAULT true,
  last_generated DATE,
  next_due_date DATE,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

-- Tabela de histórico de geração de transações recorrentes
CREATE TABLE public.recurring_generation_log (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  recurring_id UUID NOT NULL REFERENCES public.recurring_transactions(id) ON DELETE CASCADE,
  generated_date DATE NOT NULL,
  transaction_id UUID REFERENCES public.transactions(id) ON DELETE SET NULL,
  status TEXT NOT NULL CHECK (status IN ('success', 'failed', 'skipped')),
  error_message TEXT,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

-- Enable RLS
ALTER TABLE public.recurring_transactions ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.recurring_generation_log ENABLE ROW LEVEL SECURITY;

-- RLS Policies para recurring_transactions
CREATE POLICY \
Users
can
manage
their
own
recurring
transactions\
ON public.recurring_transactions
FOR ALL
USING (
  auth.uid() = user_id 
  OR (
    group_id IS NOT NULL 
    AND EXISTS (
      SELECT 1 FROM public.family_members fm
      WHERE fm.group_id = recurring_transactions.group_id
      AND fm.member_id = auth.uid()
      AND fm.status = 'active'
    )
  )
);

-- RLS Policies para recurring_generation_log
CREATE POLICY \Users
can
view
recurring
generation
logs\
ON public.recurring_generation_log
FOR SELECT
USING (
  EXISTS (
    SELECT 1 FROM public.recurring_transactions rt
    WHERE rt.id = recurring_generation_log.recurring_id
    AND (
      rt.user_id = auth.uid()
      OR (
        rt.group_id IS NOT NULL 
        AND EXISTS (
          SELECT 1 FROM public.family_members fm
          WHERE fm.group_id = rt.group_id
          AND fm.member_id = auth.uid()
          AND fm.status = 'active'
        )
      )
    )
  )
);

-- Triggers para updated_at
CREATE TRIGGER update_recurring_transactions_updated_at
  BEFORE UPDATE ON public.recurring_transactions
  FOR EACH ROW
  EXECUTE FUNCTION public.update_updated_at_column();

-- Índices para performance
CREATE INDEX idx_recurring_transactions_user_id ON public.recurring_transactions(user_id);
CREATE INDEX idx_recurring_transactions_group_id ON public.recurring_transactions(group_id);
CREATE INDEX idx_recurring_transactions_next_due_date ON public.recurring_transactions(next_due_date);
CREATE INDEX idx_recurring_transactions_is_active ON public.recurring_transactions(is_active);
CREATE INDEX idx_recurring_generation_log_recurring_id ON public.recurring_generation_log(recurring_id);
CREATE INDEX idx_recurring_generation_log_generated_date ON public.recurring_generation_log(generated_date);

-- Função para calcular próxima data de vencimento
CREATE OR REPLACE FUNCTION public.calculate_next_due_date(
  p_frequency TEXT,
  p_day_of_month INTEGER,
  p_day_of_week INTEGER,
  p_start_date DATE,
  p_last_generated DATE DEFAULT NULL
)
RETURNS DATE
LANGUAGE plpgsql
AS \\$
DECLARE
  base_date DATE;
  next_date DATE;
BEGIN
  -- Usar data de início se não há última geração
  base_date := COALESCE(p_last_generated, p_start_date);
  
  CASE p_frequency
    WHEN 'diaria' THEN
      next_date := base_date + INTERVAL '1 day';
      
    WHEN 'semanal' THEN
      next_date := base_date + INTERVAL '1 week';
      
    WHEN 'mensal' THEN
      IF p_day_of_month IS NOT NULL THEN
        -- Próximo mês com o dia especificado
        next_date := DATE_TRUNC('month', base_date) + INTERVAL '1 month';
        next_date := next_date + INTERVAL (p_day_of_month - 1) || ' days';
        
        -- Se o dia não existe no mês, usar o último dia
        IF EXTRACT(DAY FROM next_date) != p_day_of_month THEN
          next_date := DATE_TRUNC('month', next_date) + INTERVAL '1 month' - INTERVAL '1 day';
        END IF;
      ELSE
        next_date := base_date + INTERVAL '1 month';
      END IF;
      
    WHEN 'trimestral' THEN
      next_date := base_date + INTERVAL '3 months';
      
    WHEN 'semestral' THEN
      next_date := base_date + INTERVAL '6 months';
      
    WHEN 'anual' THEN
      next_date := base_date + INTERVAL '1 year';
      
    ELSE
      next_date := base_date + INTERVAL '1 month';
  END CASE;
  
  RETURN next_date;
END;
\\$;

-- Função para gerar transações recorrentes
CREATE OR REPLACE FUNCTION public.generate_recurring_transactions()
RETURNS JSON
LANGUAGE plpgsql
SECURITY DEFINER
AS \\$
DECLARE
  recurring_record RECORD;
  new_transaction_id UUID;
  generated_count INTEGER := 0;
  error_count INTEGER := 0;
  result JSON;
BEGIN
  -- Buscar transações recorrentes ativas que precisam ser geradas
  FOR recurring_record IN
    SELECT rt.*, c.nome as category_name, a.nome as account_name
    FROM public.recurring_transactions rt
    LEFT JOIN public.categories c ON rt.category_id = c.id
    LEFT JOIN public.accounts a ON rt.account_id = a.id
    WHERE rt.is_active = true
    AND rt.next_due_date <= CURRENT_DATE
    AND (rt.end_date IS NULL OR rt.end_date >= CURRENT_DATE)
  LOOP
    BEGIN
      -- Gerar nova transação
      INSERT INTO public.transactions (
        user_id,
        group_id,
        titulo,
        descricao,
        valor,
        tipo,
        categoria_id,
        conta_id,
        data_transacao,
        is_recurring,
        recurring_parent_id
      )
      VALUES (
        recurring_record.user_id,
        recurring_record.group_id,
        recurring_record.title,
        recurring_record.description,
        recurring_record.amount,
        recurring_record.type,
        recurring_record.category_id,
        recurring_record.account_id,
        recurring_record.next_due_date,
        true,
        recurring_record.id
      )
      RETURNING id INTO new_transaction_id;
      
      -- Registrar log de geração
      INSERT INTO public.recurring_generation_log (
        recurring_id,
        generated_date,
        transaction_id,
        status
      )
      VALUES (
        recurring_record.id,
        recurring_record.next_due_date,
        new_transaction_id,
        'success'
      );
      
      -- Atualizar próxima data de vencimento
      UPDATE public.recurring_transactions
      SET 
        last_generated = recurring_record.next_due_date,
        next_due_date = public.calculate_next_due_date(
          recurring_record.frequency,
          recurring_record.day_of_month,
          recurring_record.day_of_week,
          recurring_record.start_date,
          recurring_record.next_due_date
        ),
        updated_at = NOW()
      WHERE id = recurring_record.id;
      
      generated_count := generated_count + 1;
      
    EXCEPTION WHEN OTHERS THEN
      -- Registrar erro
      INSERT INTO public.recurring_generation_log (
        recurring_id,
        generated_date,
        status,
        error_message
      )
      VALUES (
        recurring_record.id,
        recurring_record.next_due_date,
        'failed',
        SQLERRM
      );
      
      error_count := error_count + 1;
    END;
  END LOOP;
  
  RETURN json_build_object(
    'success', true,
    'generated_count', generated_count,
    'error_count', error_count,
    'message', 'Transações recorrentes processadas com sucesso'
  );
END;
\\$;

-- Função para criar transação recorrente
CREATE OR REPLACE FUNCTION public.create_recurring_transaction(
  p_title TEXT,
  p_description TEXT,
  p_amount NUMERIC,
  p_type TEXT,
  p_frequency TEXT,
  p_start_date DATE,
  p_end_date DATE DEFAULT NULL,
  p_category_id UUID DEFAULT NULL,
  p_account_id UUID DEFAULT NULL,
  p_group_id UUID DEFAULT NULL,
  p_day_of_month INTEGER DEFAULT NULL,
  p_day_of_week INTEGER DEFAULT NULL
)
RETURNS JSON
LANGUAGE plpgsql
SECURITY DEFINER
AS \\$
DECLARE
  new_recurring_id UUID;
  next_due_date DATE;
  result JSON;
BEGIN
  -- Validar parâmetros
  IF p_amount <= 0 THEN
    RETURN json_build_object('success', false, 'message', 'Valor deve ser maior que zero');
  END IF;
  
  IF p_type NOT IN ('receita', 'despesa') THEN
    RETURN json_build_object('success', false, 'message', 'Tipo deve ser receita ou despesa');
  END IF;
  
  IF p_frequency NOT IN ('diaria', 'semanal', 'mensal', 'trimestral', 'semestral', 'anual') THEN
    RETURN json_build_object('success', false, 'message', 'Frequência inválida');
  END IF;
  
  -- Calcular próxima data de vencimento
  next_due_date := public.calculate_next_due_date(
    p_frequency,
    p_day_of_month,
    p_day_of_week,
    p_start_date
  );
  
  -- Criar transação recorrente
  INSERT INTO public.recurring_transactions (
    user_id,
    group_id,
    title,
    description,
    amount,
    type,
    frequency,
    day_of_month,
    day_of_week,
    start_date,
    end_date,
    category_id,
    account_id,
    next_due_date
  )
  VALUES (
    auth.uid(),
    p_group_id,
    p_title,
    p_description,
    p_amount,
    p_type,
    p_frequency,
    p_day_of_month,
    p_day_of_week,
    p_start_date,
    p_end_date,
    p_category_id,
    p_account_id,
    next_due_date
  )
  RETURNING id INTO new_recurring_id;
  
  RETURN json_build_object(
    'success', true,
    'message', 'Transação recorrente criada com sucesso',
    'recurring_id', new_recurring_id,
    'next_due_date', next_due_date
  );
END;
\\$;

-- Função para pausar/reativar transação recorrente
CREATE OR REPLACE FUNCTION public.toggle_recurring_transaction(
  p_recurring_id UUID,
  p_is_active BOOLEAN
)
RETURNS JSON
LANGUAGE plpgsql
SECURITY DEFINER
AS \\$
DECLARE
  result JSON;
BEGIN
  -- Verificar se usuário tem permissão
  IF NOT EXISTS (
    SELECT 1 FROM public.recurring_transactions
    WHERE id = p_recurring_id
    AND (
      user_id = auth.uid()
      OR (
        group_id IS NOT NULL 
        AND EXISTS (
          SELECT 1 FROM public.family_members fm
          WHERE fm.group_id = recurring_transactions.group_id
          AND fm.member_id = auth.uid()
          AND fm.status = 'active'
        )
      )
    )
  ) THEN
    RETURN json_build_object('success', false, 'message', 'Permissão negada');
  END IF;
  
  -- Atualizar status
  UPDATE public.recurring_transactions
  SET 
    is_active = p_is_active,
    updated_at = NOW()
  WHERE id = p_recurring_id;
  
  RETURN json_build_object(
    'success', true,
    'message', CASE WHEN p_is_active THEN 'Transação recorrente reativada' ELSE 'Transação recorrente pausada' END
  );
END;
\\$;
